<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Application</li>
  </ol>
</nav>

<h1>{{{title}}}</h1>
{{#each tags}}
{{#if @first}}
<div class="badges">
{{/if}}
  {{{htmlBadge this}}}
{{#if @last}}
</div>
{{/if}}
{{/each}}

{{#each todos}}
{{#if @first}}
<div class="alert alert-danger" role="alert">
  <ul>
{{/if}}
    <li>{{this}}</li>
{{#if @last}}
  </ul>
</div>
{{/if}}
{{/each}}

<section>
  <p>{{description}}</p>
</section>

{{#if modules}}
<section>
  <h2>Modules</h2>
  <div class="mermaid">
    <pre class="mermaidDefinition">
      {{{classDiagram}}}
    </pre>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each modules}}
      <tr>
        <td><a href=".{{$id}}/index.html">{{title}}</a></td>
        <td>{{description}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{#each errors}}
{{#if @first}}
<section>
  <h2>Verification Errors</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{/if}}
      <tr>
        <td>{{type}}</td>
        <td>{{text}}</td>
      </tr>
{{#if @last}}
    </tbody>
  </table>
</section>
{{/if}}
{{/each}}

{{#each links}}
{{#if @first}}
<section>
  <h2>Links</h2>
  <ul>
{{/if}}
    <li><a href="{{href}}">{{text}}</a></li>
{{#if @last}}
  </ul>
</section>
{{/if}}
{{/each}}
