<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{htmlRelativeLink $id '/index.html'}}">Application</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<h1>{{{title}}}</h1>
{{#each tags}}
<img alt="Static Badge" src="https://img.shields.io/badge/{{htmlUrlEncode name}}{{#if value}}-{{htmlUrlEncode value}}{{/if}}{{#if color}}-{{color}}{{/if}}">
{{/each}}

{{#if todos}}
<div class="alert alert-danger" role="alert">
  <ul>
{{#each todos}}
    <li>{{this}}</li>
{{/each}}
  </ul>
</div>
{{/if}}

<section>
  <p>{{description}}</p>
</section>

{{#if schemas}}
<section>
  <h2>Schemas</h2>
  <div class="mermaid">
    <pre class="mermaidDefinition">
      {{{classDiagram}}}
    </pre>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each schemas}}
      <tr>
        <td><a href="{{htmlRelativeLink ../$id $id}}.html">{{title}}</a></td>
        <td>{{x-schema-type}}</td>
        <td>{{description}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{# if errors}}
<section>
  <h2>Verification Errors</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each errors}}
      <tr>
        <td>{{type}}</td>
        <td>{{text}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{#if links}}
<section>
  <h2>Links</h2>
  <ul>
  {{#each links}}
    <li><a href="{{href}}">{{text}}</a></li>
  {{/each}}
  </ul>
</section>
{{/if}}
