<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{htmlRelativeLink module.$id '/index.html'}}">Application</a></li>
    <li class="breadcrumb-item"><a href="./index.html">{{module.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<h1>{{{title}}}</h1>
{{#each x-tags}}
{{#if @first}}
<div class="badges">
{{/if}}
  {{{htmlBadge this}}}
{{#if @last}}
</div>
{{/if}}
{{/each}}

{{#each x-todos}}
{{#if @first}}
<div class="alert alert-danger" role="alert">
  <ul>
{{/if}}
    <li>{{this}}</li>
{{#if @last}}
  </ul>
</div>
{{/if}}
{{/each}}

<section>
  <p>{{description}}</p>
  <div class="mermaid">
    <pre class="mermaidDefinition">
      {{{classDiagram}}}
    </pre>
  </div>
</section>

{{#if oneOf}}
<section>
  <h2>Implemented By</h2>
  <ul>
{{#each oneOf}}
    <li>{{{htmlGetType .. this}}}</li>
{{/each}}
  </ul>
</section>
{{/if}}

{{#if enum}}
<section>
  <h2>Enum-Values</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Enum</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each enum}}
      <tr>
        <td>{{this}}</td>
        <td>{{htmlGetProperty ../[x-enum-description] this}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{#if properties}}
{{#each properties}}
{{#if @first}}
<section>
  <h2>Properties</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{/if}}
      <tr>
        <td>{{@key}}{{#if (htmlHasProperty ../required @key)}}*{{/if}}</td>
        <td>{{{htmlGetType .. this}}}</td>
        <td>{{description}}</td>
      </tr>
{{#if @last}}
{{#if additionalProperties}}
      <tr>
        <td>(other)</td>
        <td>{{{htmlAdditionalPropertyType . .}}}</td>
        <td>Additional Properties</td>
      </tr>
{{/if}}
    </tbody>
  </table>
</section>
{{/if}}
{{/each}}
{{/if}}

{{#each examples}}
{{#if @first}}
<section>
  <h2>Examples</h2>
{{/if}}
  <pre class="json">
  {{{htmlJson this}}}
  </pre>
{{#if @last}}
</section>
{{/if}}
{{/each}}

{{#each definitions}}
{{#if @first}}
<h2>Subschemas</h2>
{{/if}}
{{> htmlSubSchema this schema=.. name=@key}}
{{/each}}

{{#each x-errors}}
{{#if @first}}
<section>
  <h2>Verification Errors</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{/if}}
      <tr>
        <td>{{type}}</td>
        <td>{{text}}</td>
      </tr>
{{#if @last}}
    </tbody>
  </table>
</section>
{{/if}}
{{/each}}

{{#each x-links}}
{{#if @first}}
<section>
  <h2>Links</h2>
  <ul>
{{/if}}
    <li><a href="{{link}}">{{text}}</a></li>
{{#if @last}}
  </ul>
</section>
{{/if}}
{{/each}}
