<a id="{{{name}}}"></a><h3>{{htmlKind .}} {{{name}}}</h3>
{{#if description}}
<section>
  <p>{{description}}</p>
</section>
{{/if}}

{{#if enum}}
<section>
  <table class="table">
    <thead>
      <tr>
        <th>Enum</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each enum}}
      <tr>
        <td>{{this}}</td>
        <td>{{htmlGetProperty ../[x-enum-description] this}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{#if properties}}
{{#each properties}}
{{#if @first}}
<section>
  <table class="table">
    <thead>
      <tr>
        <th>Property</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{/if}}
      <tr>
        <td>{{@key}}{{#if (htmlHasElement ../required @key)}}*{{/if}}</td>
        <td>{{{htmlGetType ../schema this}}}</td>
        <td>{{description}}</td>
      </tr>
{{#if @last}}
{{#if ../additionalProperties}}
      <tr>
        <td>(other)</td>
        <td>{{{htmlAdditionalPropertyType ../schema ..}}}</td>
        <td>Additional Properties</td>
      </tr>
{{/if}}
    </tbody>
  </table>
</section>
{{/if}}
{{/each}}
{{/if}}

{{#if oneOf}}
<section>
Implemented by
  <ul>
{{#each oneOf}}
    <li>{{{htmlGetType ../schema this}}}</li>
{{/each}}
  </ul>
</section>
{{/if}}
