<a id="{{{name}}}"></a><h3>{{{name}}}</h3>
<section>
  <p>{{description}}</p>
</section>

{{#if oneOf}}
<section>
  <h4>One Of</h2>
  <ul>
{{#each oneOf}}
    <li>{{{htmlGetType ../schema this}}}</li>
{{/each}}
  </ul>
</section>
{{/if}}

{{#if enum}}
<section>
  <h4>Enum-Values</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each enum}}
      <tr>
        <td>{{this}}</td>
        <td>{{htmlGetProperty ../[x-enum-description] this}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{#if properties}}
{{#each properties}}
{{#if @first}}
<section>
  <h4>Properties</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{/if}}
      <tr>
        <td>{{@key}}{{#if (htmlHasProperty ../required @key)}}*{{/if}}</td>
        <td>{{{htmlGetType ../schema this}}}</td>
        <td>{{description}}</td>
      </tr>
{{#if @last}}
{{#if additionalProperties}}
      <tr>
        <td>(other)</td>
        <td>{{{htmlAdditionalPropertyType ../schema .}}}</td>
        <td>Additional Properties</td>
      </tr>
{{/if}}
    </tbody>
  </table>
</section>
{{/if}}
{{/each}}
{{/if}}
