<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Application</li>
  </ol>
</nav>

<h1>{{{title}}}
{{#each x-tags}}
  <span class="badge rounded-pill title-badge text-bg-secondary">{{this}}</span>
{{/each}}
</h1>

{{#if x-todos}}
<div class="alert alert-danger" role="alert">
  <ul>
{{#each x-todos}}
    <li>{{this}}</li>
{{/each}}
  </ul>
</div>
{{/if}}

<section>
  <p>{{description}}</p>
</section>

{{#if modules}}
<section>
  <h2>Modules</h2>
{{#if classDiagram}}
  <pre id="mermaid">
  classDiagram
  {{{classDiagram}}}
  </pre>
{{/if}}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
{{#each modules}}
      <tr>
        <td><a href=".{{$id}}/index.html">{{title}}</a></td>
        <td>{{description}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
{{/if}}

{{#if x-links}}
<section>
  <h2>Links</h2>
  <ul>
{{#each x-links}}
    <li><a href="{{href}}">{{text}}</a></li>
{{/each}}
  </ul>
</section>
{{/if}}
